## 4ª Rodada de Questões do CEO

### Bibliotecas

In [1]:
from sqlalchemy import create_engine
import pandas as pd

### Acessando o Banco de Dados

In [2]:
# Conexão com o Banco
engine = create_engine('sqlite:///db_olist.sqlite')

# Criando a conexão com o Banco
cursor = engine.connect()

**1.** Qual o número de clientes únicos do estado de São Paulo?

In [3]:
query = """
    SELECT
        COUNT(DISTINCT c.customer_id) AS num_unique_customer_sp 
    FROM
        customer c 
    WHERE
        c.customer_state = 'SP'
        """

# Salvando o arquivo
df_question_1 = pd.read_sql(query, cursor)
df_question_1.to_csv('files/diretorio_quarta_rodada_questoes/question_1.csv')

df_question_1

   num_unique_customer_sp
0                   41746

**2.** Qual o número total de pedidos únicos feitos no dia 08 de Outubro de 2016.

In [4]:
query = """
    SELECT
        COUNT(DISTINCT oi.order_id) AS num_unique_orders 
    FROM 
        order_items oi 
    WHERE
        DATE(oi.shipping_limit_date) = '2016-10-08' 
        """

# Salvando o arquivo
df_question_2 = pd.read_sql(query, cursor)
df_question_2.to_csv('files/diretorio_quarta_rodada_questoes/question_2.csv')

df_question_2

   num_unique_orders
0                  8

**3.** Qual o número total de pedidos únicos feitos a partir do dia 08 de Outubro de 2016 .

In [5]:
query = """
    SELECT
        COUNT(DISTINCT oi.order_id) AS num_unique_orders 
    FROM
        order_items oi 
    WHERE
        DATE(oi.shipping_limit_date) > '2016-10-08' 
        """

# Salvando o arquivo
df_question_3 = pd.read_sql(query, cursor)
df_question_3.to_csv('files/diretorio_quarta_rodada_questoes/question_3.csv')

df_question_3

   num_unique_orders
0              98656

**4.** Qual o número total de pedidos únicos feitos a partir do dia 08 de Outubro de 2016 incluso.

In [6]:
query = """
    SELECT
        COUNT(DISTINCT oi.order_id) AS num_unique_orders 
    FROM
        order_items oi 
    WHERE 
        DATE(oi.shipping_limit_date) >= '2016-10-08' 
        """

# Salvando o arquivo
df_question_4 = pd.read_sql(query, cursor)
df_question_4.to_csv('files/diretorio_quarta_rodada_questoes/question_4.csv')

df_question_4

   num_unique_orders
0              98664

**5.** Qual o número total de pedidos únicos, a data mínima e máxima de envio, o valor máximo, mínimo e médio do frete dos pedidos abaixo de 1.100 por cada vendedor?

In [7]:
query = """
    SELECT
        oi.seller_id, 
        COUNT(DISTINCT oi.order_id)       AS num_unique_orders, 
        MIN(DATE(oi.shipping_limit_date)) AS min_shipping_limit_date,
        MAX(DATE(oi.shipping_limit_date)) AS max_shipping_limit_date,
        MIN(oi.freight_value)             AS min_freight_value,
        MAX(oi.freight_value)             AS max_freight_value,
        AVG(oi.freight_value)             AS avg_freight_value
    FROM 
        order_items oi 
    WHERE
        oi.price < 1100
    GROUP BY 
        oi.seller_id
    LIMIT 50
        """

# Salvando o arquivo
df_question_5 = pd.read_sql(query, cursor)
df_question_5.to_csv('files/diretorio_quarta_rodada_questoes/question_5.csv')

df_question_5

,seller_id,num_unique_orders,min_shipping_limit_date,max_shipping_limit_date,min_freight_value,max_freight_value,avg_freight_value
0,0015a82c2db000af6aaaf3ae2ecb0532,3,2017-10-12,2017-10-24,21.02,21.02,21.020000
1,001cca7ae9ae17fb1caed9dfb1094831,200,2017-02-08,2018-07-19,14.72,114.62,37.046611
2,001e6ad469a905060d959994f1b41e4f,1,2018-08-13,2018-08-13,17.94,17.94,17.940000
3,002100f778ceb8431b7a1020ff7ab48f,51,2017-09-20,2018-04-18,4.91,34.15,14.430182
4,003554e2dce176b5555353e4f3555ac8,1,2017-12-21,2017-12-21,19.38,19.38,19.380000
5,004c9cd9d87a3c30c522c48c4fc07416,158,2017-02-02,2018-05-10,7.67,133.73,20.889588
6,00720abe85ba0859807595bbf045a33b,13,2018-02-01,2018-08-07,6.10,38.60,12.153077
7,00ab3eff1b5192e5f1a63bcecfee11c8,1,2017-03-23,2017-03-23,12.08,12.08,12.080000
8,00d8b143d12632bad99c0ad66ad52825,1,2018-03-27,2018-03-27,51.10,51.10,51.100000
9,00ee68308b45bc5e2660cd833c3f81cc,135,2017-09-25,2018-08-15,2.34,98.02,18.492209
10,00fc707aaaad2d31347cf883cd2dfe10,103,2018-02-12,2018-06-21,2.04,68.39,16.926593
11,010543a62bd80aa422851e79a3bc7540,2,2017-07-11,2017-08-08,13.24,18.71,15.975000
12,010da0602d7774602cd1b3f5fb7b709e,1,2018-06-15,2018-06-15,46.05,46.05,46.050000
13,011b0eaba87386a2ae96a7d32bb531d1,1,2016-10-21,2016-10-21,14.59,14.59,14.590000
14,01266d4c46afa519678d16a8b683d325,3,2018-08-08,2018-08-23,13.47,18.50,15.743333
15,013900e863eace745d3ec7614cab5b1a,23,2017-03-09,2018-04-19,13.42,44.24,18.064231
16,014c0679dd340a0e338872e7ec85666a,13,2017-02-14,2018-07-10,18.20,108.04,41.334286
17,014d9a685fd57276679edd00e07089e5,11,2017-11-29,2018-08-22,1.40,37.47,12.244167
18,0176f73cc1195f367f7b32db1e5b3aa8,38,2017-11-22,2018-08-17,13.58,90.06,33.000256
19,01bcc9d254a0143f0ce9791b960b2a47,11,2017-08-21,2018-02-08,14.26,36.43,25.241818
20,01c97ebb5cdac52891c0ed1c37ba0012,9,2017-04-20,2018-08-02,11.74,22.28,14.875000
21,01cf7e3d21494c41fb86034f2e714fa1,61,2016-10-15,2018-03-05,11.81,117.35,29.982388
22,01ed254b9ff8407dfb9d99ba1e17d923,5,2017-08-15,2017-11-20,10.57,17.12,13.544000
23,01fd077212124329bac32490e8ef80d9,31,2018-04-20,2018-08-28,6.66,26.41,14.752821
24,01fdefa7697d26ad920e9e0346d4bd1b,129,2017-05-05,2018-08-22,10.04,84.45,21.134656
25,0241d4d5d36f10f80c644447315af0bd,238,2017-10-18,2018-08-31,7.14,137.12,27.861423
26,0249d282d911d23cb8b869ab49c99f53,11,2017-09-24,2018-03-28,8.72,20.89,12.625455
27,024b564ae893ce8e9bfa02c10a401ece,2,2016-10-21,2017-02-16,26.30,27.10,26.500000
28,028872bfa080090a9d0abd4f1af168f8,1,2017-08-24,2017-08-24,15.79,15.79,15.790000
29,02a2272692e13558373c66db98f05e2e,2,2017-02-10,2017-03-14,14.52,24.35,19.435000
30,02b72cdeb9cfcc429f1af6f4e3f3b737,4,2018-07-31,2018-08-24,44.70,69.05,56.497500
31,02c988090b766852e088c69d7fb3b551,13,2017-07-20,2018-08-20,9.09,19.07,12.841176
32,02d35243ea2e497335cd0f076b45675d,13,2017-05-04,2018-08-08,18.27,62.10,33.908667
33,02dcd3e8e25bee036e32512bcf175493,14,2017-11-03,2018-08-31,14.61,39.99,18.362941
34,02ecc2a19303f05e59ce133fd923fff7,21,2017-07-03,2018-08-29,8.63,43.45,19.925417
35,02f5837340d7eb4f653d676c7256523a,30,2017-11-10,2018-08-14,12.70,75.46,19.361000
36,02f623a8eb246f3c5f7c2f96462654e6,44,2018-05-02,2018-08-27,12.71,43.74,18.855227
37,0307f7565ff85b299b6e5ef162b1b1a9,6,2016-10-21,2017-05-31,10.96,52.83,35.840000
38,0336182e1b3e92f029d5354832045fdf,1,2016-10-10,2016-10-10,4.26,13.31,8.785000
39,034b9387752bfa309f350a70cd45ffa3,8,2018-04-17,2018-08-24,13.61,22.06,18.032500
40,038b75b729c8a9a04b0d07cba7eabe86,2,2018-04-30,2018-04-30,42.39,48.46,45.425000
41,039b29ff3b3473435d0cd59040575de9,9,2018-05-08,2018-08-31,7.39,22.85,11.183333
42,03a2a6dcbe45d639c4dc2a0d24769c40,9,2018-03-19,2018-08-20,9.45,27.78,19.138889
43,03bd479e1d9484cdb14104d3023f7321,3,2018-05-15,2018-08-03,14.18,22.55,19.240000
44,0417b067eeab773d2f7061a726dc477f,13,2018-03-07,2018-08-23,21.16,110.32,49.428462
45,042573af89b6d931f672efaf789d8358,3,2018-01-26,2018-02-15,11.91,31.43,21.696667
46,04308b1ee57b6625f47df1d56f00eedf,81,2017-12-07,2018-08-27,16.00,85.02,31.386173
47,0432ead42b6c8a0bdf68154add917fdf,85,2017-04-06,2018-08-02,1.37,37.04,13.416889
48,044668ccd5316b12a7cf0d54a156e3e9,3,2018-08-17,2018-08-27,8.40,18.40,13.387500
49,04843805947f0fc584fc1969b6e50fe7,1,2018-08-09,2018-08-09,37.38,37.38,37.380000

**6.** Qual o número total de pedidos únicos, a data mínima e máxima de envio, o valor máximo, mínimo e médio do frete dos pedidos abaixo de 1.100 incluso por cada vendedor

In [9]:
query = """
    SELECT
        oi.seller_id, 
        COUNT(DISTINCT oi.order_id)       AS num_unique_orders, 
        MIN(DATE(oi.shipping_limit_date)) AS min_shipping_limit_date,
        MAX(DATE(oi.shipping_limit_date)) AS max_shipping_limit_date,
        MIN(oi.freight_value)             AS min_freight_value,
        MAX(oi.freight_value)             AS max_freight_value,
        AVG(oi.freight_value)             AS avg_freight_value
    FROM 
        order_items oi 
    WHERE
        oi.price <= 1100
    GROUP BY 
        oi.seller_id 
    LIMIT 50
        """

# Salvando o arquivo
df_question_6 = pd.read_sql(query, cursor)
df_question_6.to_csv('files/diretorio_quarta_rodada_questoes/question_6.csv')

df_question_6

,seller_id,num_unique_orders,min_shipping_limit_date,max_shipping_limit_date,min_freight_value,max_freight_value,avg_freight_value
0,0015a82c2db000af6aaaf3ae2ecb0532,3,2017-10-12,2017-10-24,21.02,21.02,21.020000
1,001cca7ae9ae17fb1caed9dfb1094831,200,2017-02-08,2018-07-19,14.72,114.62,37.046611
2,001e6ad469a905060d959994f1b41e4f,1,2018-08-13,2018-08-13,17.94,17.94,17.940000
3,002100f778ceb8431b7a1020ff7ab48f,51,2017-09-20,2018-04-18,4.91,34.15,14.430182
4,003554e2dce176b5555353e4f3555ac8,1,2017-12-21,2017-12-21,19.38,19.38,19.380000
5,004c9cd9d87a3c30c522c48c4fc07416,158,2017-02-02,2018-05-10,7.67,133.73,20.889588
6,00720abe85ba0859807595bbf045a33b,13,2018-02-01,2018-08-07,6.10,38.60,12.153077
7,00ab3eff1b5192e5f1a63bcecfee11c8,1,2017-03-23,2017-03-23,12.08,12.08,12.080000
8,00d8b143d12632bad99c0ad66ad52825,1,2018-03-27,2018-03-27,51.10,51.10,51.100000
9,00ee68308b45bc5e2660cd833c3f81cc,135,2017-09-25,2018-08-15,2.34,98.02,18.492209
10,00fc707aaaad2d31347cf883cd2dfe10,103,2018-02-12,2018-06-21,2.04,68.39,16.926593
11,010543a62bd80aa422851e79a3bc7540,2,2017-07-11,2017-08-08,13.24,18.71,15.975000
12,010da0602d7774602cd1b3f5fb7b709e,1,2018-06-15,2018-06-15,46.05,46.05,46.050000
13,011b0eaba87386a2ae96a7d32bb531d1,1,2016-10-21,2016-10-21,14.59,14.59,14.590000
14,01266d4c46afa519678d16a8b683d325,3,2018-08-08,2018-08-23,13.47,18.50,15.743333
15,013900e863eace745d3ec7614cab5b1a,23,2017-03-09,2018-04-19,13.42,44.24,18.064231
16,014c0679dd340a0e338872e7ec85666a,13,2017-02-14,2018-07-10,18.20,108.04,41.334286
17,014d9a685fd57276679edd00e07089e5,11,2017-11-29,2018-08-22,1.40,37.47,12.244167
18,0176f73cc1195f367f7b32db1e5b3aa8,38,2017-11-22,2018-08-17,13.58,90.06,33.000256
19,01bcc9d254a0143f0ce9791b960b2a47,11,2017-08-21,2018-02-08,14.26,36.43,25.241818
20,01c97ebb5cdac52891c0ed1c37ba0012,9,2017-04-20,2018-08-02,11.74,22.28,14.875000
21,01cf7e3d21494c41fb86034f2e714fa1,61,2016-10-15,2018-03-05,11.81,117.35,29.982388
22,01ed254b9ff8407dfb9d99ba1e17d923,5,2017-08-15,2017-11-20,10.57,17.12,13.544000
23,01fd077212124329bac32490e8ef80d9,31,2018-04-20,2018-08-28,6.66,26.41,14.752821
24,01fdefa7697d26ad920e9e0346d4bd1b,129,2017-05-05,2018-08-22,10.04,84.45,21.134656
25,0241d4d5d36f10f80c644447315af0bd,238,2017-10-18,2018-08-31,7.14,137.12,27.861423
26,0249d282d911d23cb8b869ab49c99f53,11,2017-09-24,2018-03-28,8.72,20.89,12.625455
27,024b564ae893ce8e9bfa02c10a401ece,2,2016-10-21,2017-02-16,26.30,27.10,26.500000
28,028872bfa080090a9d0abd4f1af168f8,1,2017-08-24,2017-08-24,15.79,15.79,15.790000
29,02a2272692e13558373c66db98f05e2e,2,2017-02-10,2017-03-14,14.52,24.35,19.435000
30,02b72cdeb9cfcc429f1af6f4e3f3b737,4,2018-07-31,2018-08-24,44.70,69.05,56.497500
31,02c988090b766852e088c69d7fb3b551,13,2017-07-20,2018-08-20,9.09,19.07,12.841176
32,02d35243ea2e497335cd0f076b45675d,13,2017-05-04,2018-08-08,18.27,62.10,33.908667
33,02dcd3e8e25bee036e32512bcf175493,14,2017-11-03,2018-08-31,14.61,39.99,18.362941
34,02ecc2a19303f05e59ce133fd923fff7,21,2017-07-03,2018-08-29,8.63,43.45,19.925417
35,02f5837340d7eb4f653d676c7256523a,30,2017-11-10,2018-08-14,12.70,75.46,19.361000
36,02f623a8eb246f3c5f7c2f96462654e6,44,2018-05-02,2018-08-27,12.71,43.74,18.855227
37,0307f7565ff85b299b6e5ef162b1b1a9,6,2016-10-21,2017-05-31,10.96,52.83,35.840000
38,0336182e1b3e92f029d5354832045fdf,1,2016-10-10,2016-10-10,4.26,13.31,8.785000
39,034b9387752bfa309f350a70cd45ffa3,8,2018-04-17,2018-08-24,13.61,22.06,18.032500
40,038b75b729c8a9a04b0d07cba7eabe86,2,2018-04-30,2018-04-30,42.39,48.46,45.425000
41,039b29ff3b3473435d0cd59040575de9,9,2018-05-08,2018-08-31,7.39,22.85,11.183333
42,03a2a6dcbe45d639c4dc2a0d24769c40,9,2018-03-19,2018-08-20,9.45,27.78,19.138889
43,03bd479e1d9484cdb14104d3023f7321,3,2018-05-15,2018-08-03,14.18,22.55,19.240000
44,0417b067eeab773d2f7061a726dc477f,13,2018-03-07,2018-08-23,21.16,110.32,49.428462
45,042573af89b6d931f672efaf789d8358,3,2018-01-26,2018-02-15,11.91,31.43,21.696667
46,04308b1ee57b6625f47df1d56f00eedf,81,2017-12-07,2018-08-27,16.00,85.02,31.386173
47,0432ead42b6c8a0bdf68154add917fdf,85,2017-04-06,2018-08-02,1.37,37.04,13.416889
48,044668ccd5316b12a7cf0d54a156e3e9,3,2018-08-17,2018-08-27,8.40,18.40,13.387500
49,04843805947f0fc584fc1969b6e50fe7,1,2018-08-09,2018-08-09,37.38,37.38,37.380000