## 7ª Rodada de questões do CEO

### Bibliotecas

In [1]:
from sqlalchemy import create_engine
import pandas as pd

### Acessando o Banco de Dados

In [2]:
# Conexão com o Banco
engine = create_engine('sqlite:///db_olist.sqlite')

# Criando a conexão com o Banco
cursor = engine.connect()

**1.** Gerar uma tabela de dados com 10 linhas, contendo o id do pedido, o id do cliente, o status do pedido, o id do produto e o preço do produto.

In [3]:
query = """
    SELECT 
        o.order_id, o.customer_id, o.order_status, oi.product_id, oi.price  
    FROM 
        orders o INNER JOIN order_items oi ON (o.order_id = oi.order_id)
    LIMIT 
        10
        """

# Salvando o arquivo
df_question_1 = pd.read_sql(query, cursor)
df_question_1.to_csv('files/diretorio_setima_rodada_questoes/question_1.csv')

df_question_1

,order_id,customer_id,order_status,product_id,price
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,87285b34884572647811a353c7ac498a,29.99
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,595fac2a385ac33a80bd5114aec74eb8,118.70
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,aa4383b373c6aca5d8797843e5594415,159.90
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,d0b61bfb1de832b15ba9d266ca96e5b0,45.00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,65266b2da20d04dbe00c5c2d3bb7859e,19.90
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,060cb19345d90064d1015407193c233d,147.90
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,a1804276d9941ac0733cfd409f5206eb,49.90
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,4520766ec412348b8d4caa5e8a18c464,59.99
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,ac1789e492dcd698c5c10b97a671243a,19.90
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,9a78fb9862b10749a117f7fc3c31f051,149.99

**2.** Gerar uma tabela de dados com 20 linhas, contendo o id do pedido, o estado do cliente, a cidade do cliente, o status do pedido, o id do produto e o preço do produto, somente para clientes do estado de São Paulo.

In [5]:
query = """
    SELECT 
        o.order_id, c.customer_state, c.customer_city, o.order_status, oi.product_id, oi.price  
    FROM
        order_items oi INNER JOIN orders o   ON (oi.order_id = o.order_id)
                       INNER JOIN customer c ON (o.customer_id = c.customer_id)	
    WHERE 
        c.customer_state = 'SP'
    LIMIT 
        20
        """

df_question_2 = pd.read_sql(query, cursor)
df_question_2.to_csv('files/diretorio_setima_rodada_questoes/question_2.csv')

df_question_2

,order_id,customer_state,customer_city,order_status,product_id,price
0,00e7ee1b050b8499577073aeb2a297a1,SP,franca,delivered,a9516a079e37a9c9c36b9b78b10169e8,124.99
1,29150127e6685892b6eab3eec79f59c7,SP,sao bernardo do campo,delivered,4aa6014eceb682077f9dc4bffebc05b0,289.00
2,b2059ed67ce144a36e2aa97d2c9e9ad2,SP,sao paulo,delivered,bd07b66896d6f1494f5b86251848ced7,139.94
3,951670f92359f4fe4a63112aa7306eba,SP,mogi das cruzes,delivered,a5647c44af977b148e0a3a4751a09e2e,149.94
4,6b7d50bd145f6fc7f33cebabd7e49d0f,SP,campinas,delivered,9391a573abe00141c56e38d84d7d5b3b,230.00
5,36e694cf4cbc2a4803200c35e84abdc4,SP,sao paulo,delivered,b5466db4cecf95c3c1be0ba32538ce1a,14.99
6,83d8f70418eefd96f37b483dff430305,SP,lencois paulista,delivered,3fc00af0f0a8d4ac2933d3900416c977,99.00
7,852d2f4d37773bcbc21c8e09a05a4ea5,SP,sao paulo,delivered,33f17ed3c6906f7a7ae17a0843536db4,27.99
8,eac76692452422620996fe5e1a7f8bb0,SP,piracicaba,delivered,98a8c2fa16d7239c606640f5555768e4,129.00
9,ec28553b12bef4b538e5d7454464a1c6,SP,guarulhos,delivered,e64e4ef7b809314306d9c09635d8cd30,7.09
10,17825f24877a9289214c301ae0c9424b,SP,sao paulo,delivered,99a4788cb24856965c36a24e339b6058,89.90
11,0198c71148c2e08c7c52b860f640fa4e,SP,sao paulo,delivered,138d7037b59dcee052810952c983033b,148.00
12,6cdc131d3c28253cd03cd0fbc3d5f938,SP,sao paulo,delivered,777d2e438a1b645f3aec9bd57e92672c,69.90
13,daf946e879dab6e7e6b3f968297c3fe3,SP,santo andre,delivered,d2d39433df84064b1556612cc52cefca,49.00
14,a8f5a2b22f55e0af45b300929d1fdc7d,SP,sao paulo,delivered,11b062c710beb867b4897ff2728e828d,29.99
15,0330631bdb2ec8c341f487ed9c22fc8b,SP,sao paulo,delivered,f89caa3ea4fb5f7b6e7fb2bb4ba61881,45.90
16,2904d3ae0064e840ffb4798ba4a12ae3,SP,sao jose dos campos,delivered,422879e10f46682990de24d770e7f83d,59.90
17,f3b96845efd71daecf6b331fb3a9f537,SP,sao roque,delivered,389d119b48cf3043d311335e499d9c6b,49.00
18,72bd19ef4fa285334b95bda01a3718c7,SP,sumare,delivered,a8e69cb7ca2c04d5ba7f73b2385f2a76,45.00
19,4ca8a781d1f4b13e966bf35cdc333f56,SP,guarulhos,delivered,af0a917aec9cea3b353ece61a8825326,89.90

**3.** Gerar uma tabela de dados com 50 linhas, contendo o id do pedido, o estado e a cidade do cliente, o status do pedido, o nome da categoria do produto e o preço do produto, somente para pedido com o status igual a cancelado.

In [6]:
query = """
        SELECT 
        o.order_id, c.customer_state, c.customer_city, o.order_status, p.product_category_name, oi.price  
    FROM 
        products p INNER JOIN order_items oi ON (p.product_id = oi.product_id)
                   INNER JOIN orders o       ON (oi.order_id = o.order_id)
                   INNER JOIN customer c     ON (o.customer_id = c.customer_id)
    WHERE 
        o.order_status = 'canceled'
    LIMIT 
        50
        """

df_question_3 = pd.read_sql(query, cursor)
df_question_3.to_csv('files/diretorio_setima_rodada_questoes/question_3.csv')

df_question_3

,order_id,customer_state,customer_city,order_status,product_category_name,price
0,1b9ecfe83cdc259250e1a8aca174f0ad,SP,sao paulo,canceled,informatica_acessorios,25.00
1,714fb133a6730ab81fa1d3c1b2007291,SP,diadema,canceled,moveis_decoracao,69.90
2,3a129877493c8189c59c60eb71d97c29,PR,maringa,canceled,esporte_lazer,35.90
3,0966b61e30c4a07edbd7523f59b3f3e4,RJ,rio das ostras,canceled,moveis_decoracao,68.31
4,0966b61e30c4a07edbd7523f59b3f3e4,RJ,rio das ostras,canceled,moveis_decoracao,68.31
5,0966b61e30c4a07edbd7523f59b3f3e4,RJ,rio das ostras,canceled,moveis_decoracao,68.31
6,9021cf1919f615a121410790dcce848f,MG,buenopolis,canceled,perfumaria,219.00
7,a39d3db795a5cf4c8b6c9dd050f0d326,SP,santo andre,canceled,ferramentas_jardim,129.99
8,375f80ffc05feb35ce2680f1fa490575,RJ,rio de janeiro,canceled,brinquedos,89.90
9,6bfa92d3952f762df12752e4937cd63e,SP,sao paulo,canceled,esporte_lazer,72.50
10,2eb5ba20812f78127f6243fa27fb40e5,SP,promissao,canceled,esporte_lazer,180.00
11,1950d777989f6a877539f53795b4c3c3,MG,contagem,canceled,beleza_saude,29.99
12,6261f3240a8778c656bd28aeb2ba9985,BA,vitoria da conquista,canceled,brinquedos,198.00
13,5ad5a1ef522da1732ab963ea1fb6165b,SP,sao paulo,canceled,None,13.50
14,96ae30a2357a999e6010b2f1401af374,SP,borborema,canceled,informatica_acessorios,26.90
15,73c182f8914a0064d6c64ad65e4c6942,GO,anapolis,canceled,brinquedos,49.90
16,e5fa5a7210941f7d56d0208e4e071d35,RS,passo fundo,canceled,telefonia,59.50
17,8a9cce19aa49e055f2babb81d5a71c40,SP,peruibe,canceled,alimentos,149.90
18,c1049eef89915c6beb3604bf3d6588d7,RJ,rio de janeiro,canceled,cool_stuff,215.00
19,168823ad1b77477540db78ab357f18b5,MG,juiz de fora,canceled,perfumaria,489.00
20,885935156ba43094f3ae95f3c14e0381,RJ,rio de janeiro,canceled,utilidades_domesticas,26.18
21,c504f1f5fd54cc8398d57dc0da49de01,BA,salvador,canceled,cama_mesa_banho,49.90
22,bcdad86f44c780bf1aaf24b66dd97753,PR,medianeira,canceled,automotivo,123.51
23,5b4858f2dcf69731f2285a38829bfa7c,BA,una,canceled,malas_acessorios,50.90
24,5b0ee19a3125fc083348baa76d816ed0,PR,maringa,canceled,informatica_acessorios,81.00
25,12e1495369c542f003eb3ca480f924e3,SP,santo andre,canceled,None,129.99
26,03a8aa5d0860898d421c46247011c686,SP,lorena,canceled,automotivo,314.99
27,bef875448d5a4f703555d2dd5f8382b5,RJ,itaborai,canceled,moveis_decoracao,139.90
28,013e9c654a339d80b53513da3c1ea437,SP,arandu,canceled,utilidades_domesticas,109.90
29,676e40056867189a1b3599f3e646f421,SP,sao paulo,canceled,esporte_lazer,25.18
30,676e40056867189a1b3599f3e646f421,SP,sao paulo,canceled,esporte_lazer,25.18
31,61792c6272346d7f4b7c5b1747df7b1a,MA,sao luis,canceled,telefonia,24.99
32,94bde44a48f191d7175f67eb93b9ed67,DF,brasilia,canceled,telefonia,119.99
33,7142b298b22a79a285d2ce792dc533a2,ES,vitoria,canceled,utilidades_domesticas,565.70
34,5687ad45d33870c742b2cdacaf758353,SP,sao paulo,canceled,beleza_saude,57.99
35,dabf2b0e35b423f94618bf965fcb7514,SP,sao paulo,canceled,perfumaria,59.90
36,dabf2b0e35b423f94618bf965fcb7514,SP,sao paulo,canceled,beleza_saude,49.90
37,36f66ebfbd144aa6fb39338bd87b0bf9,SP,sao paulo,canceled,cama_mesa_banho,47.90
38,7106ae47c0242d76f336f5430d3ae0fc,SP,sao paulo,canceled,brinquedos,119.90
39,7106ae47c0242d76f336f5430d3ae0fc,SP,sao paulo,canceled,brinquedos,119.90
40,374bd3371c572eff1218edb0eb68cb96,SP,campos do jordao,canceled,brinquedos,71.90
41,709e43f97cb2a47fa749503419163710,BA,guanambi,canceled,esporte_lazer,399.76
42,b54861ba91f988d9f961bdcd1a9a2026,SP,barueri,canceled,bebes,139.99
43,27f3ee911b46e671b6393093afebc222,SP,sao paulo,canceled,moveis_decoracao,9.90
44,fa4c59a94711decb9c0410a0e7f878bc,SP,sao paulo,canceled,moveis_decoracao,19.20
45,891e419a9019fb81b67212a708cb5f83,SP,dumont,canceled,esporte_lazer,425.00
46,3e170726582244699b156f1c7044223a,MG,monte carmelo,canceled,informatica_acessorios,399.99
47,18987e54897a1baddde716aa4a01639c,SP,sao paulo,canceled,construcao_ferramentas_construcao,114.50
48,b89c3dccabd368d8a4b6778c1094df6b,DF,brasilia,canceled,esporte_lazer,90.50
49,acfa87544c19d596707d25cf2f7dab61,SP,sao paulo,canceled,beleza_saude,47.49

**4.** Gerar uma tabela de dados com 80 linhas, contendo o id do pedido, o estado e a cidade do cliente, o status do pedido, o nome da categoria do produto, o preço do produto, a cidade e o estado do vendedor e a data de aprovação do pedido, somente para os pedido aprovados a patir do dia 16 de setembro de 2016

In [7]:
query = """
         SELECT 
        o.order_id, c.customer_state, c.customer_city, o.order_status, p.product_category_name, oi.price, g.geolocation_city, g.geolocation_state, o.order_approved_at  
    FROM 
        products p INNER JOIN order_items oi ON (p.product_id = oi.product_id)
                   INNER JOIN orders o       ON (oi.order_id = o.order_id)
                   INNER JOIN customer c     ON (o.customer_id = c.customer_id)
                   INNER JOIN geolocation g  ON (c.customer_zip_code_prefix = g.geolocation_zip_code_prefix)
    WHERE 
        DATE(o.order_approved_at) > '2016-09-16' 
    LIMIT 
        80
        """

df_question_4 = pd.read_sql(query, cursor)
df_question_4.to_csv('files/diretorio_setima_rodada_questoes/question_4.csv')

df_question_4

,order_id,customer_state,customer_city,order_status,product_category_name,price,geolocation_city,geolocation_state,order_approved_at
0,e481f51cbdc54678b7cc49136f2d6af7,SP,sao paulo,delivered,utilidades_domesticas,29.99,sao paulo,SP,2017-10-02 11:07:15
1,e481f51cbdc54678b7cc49136f2d6af7,SP,sao paulo,delivered,utilidades_domesticas,29.99,sao paulo,SP,2017-10-02 11:07:15
2,e481f51cbdc54678b7cc49136f2d6af7,SP,sao paulo,delivered,utilidades_domesticas,29.99,sao paulo,SP,2017-10-02 11:07:15
3,e481f51cbdc54678b7cc49136f2d6af7,SP,sao paulo,delivered,utilidades_domesticas,29.99,sao paulo,SP,2017-10-02 11:07:15
4,e481f51cbdc54678b7cc49136f2d6af7,SP,sao paulo,delivered,utilidades_domesticas,29.99,sao paulo,SP,2017-10-02 11:07:15
...,...,...,...,...,...,...,...,...,...
75,949d5b44dbf5de918fe9c16f97b45f8a,RN,sao goncalo do amarante,delivered,pet_shop,45.00,sao goncalo do amarante,RN,2017-11-18 19:45:59
76,949d5b44dbf5de918fe9c16f97b45f8a,RN,sao goncalo do amarante,delivered,pet_shop,45.00,sao goncalo do amarante,RN,2017-11-18 19:45:59
77,949d5b44dbf5de918fe9c16f97b45f8a,RN,sao goncalo do amarante,delivered,pet_shop,45.00,sao goncalo do amarante,RN,2017-11-18 19:45:59
78,949d5b44dbf5de918fe9c16f97b45f8a,RN,sao goncalo do amarante,delivered,pet_shop,45.00,sao goncalo do amarante,RN,2017-11-18 19:45:59
79,949d5b44dbf5de918fe9c16f97b45f8a,RN,sao goncalo do amarante,delivered,pet_shop,45.00,sao goncalo do amarante,RN,2017-11-18 19:45:59

**5.** Gerar uma tabela de dados com 10 linhas, contendo o id do pedido, o estado e a cidade do cliente, o status do pedido, o nome da categoria do produto, o preço do produto, a cidade e o estado do vendedor, a data de aprovação do pedido e o tipo de pagamento, somente para o tipo de pagamento igual a boleto.

In [8]:
query = """
    SELECT 
        o.order_id, c.customer_state, c.customer_city,  o.order_status, p.product_category_name, oi.price, g.geolocation_city, g.geolocation_state, o.order_approved_at, op.payment_type  
    FROM 
        geolocation g INNER JOIN customer c        ON (g.geolocation_zip_code_prefix = c.customer_zip_code_prefix)
                      INNER JOIN orders o          ON (c.customer_id = o.customer_id)
                      INNER JOIN order_payments op ON (o.order_id = op.order_id)
                      INNER JOIN order_items oi    ON (o.order_id = oi.order_id)
                      INNER JOIN products p        ON (oi.product_id = p.product_id)
    WHERE 
        op.payment_type = 'boleto'
    LIMIT 
        10
        """

df_question_5 = pd.read_sql(query, cursor)
df_question_5.to_csv('files/diretorio_setima_rodada_questoes/question_5.csv')

df_question_5

,order_id,customer_state,customer_city,order_status,product_category_name,price,geolocation_city,geolocation_state,order_approved_at,payment_type
0,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto
1,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto
2,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto
3,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto
4,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto
5,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto
6,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto
7,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto
8,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto
9,0573b5e23cbd798006520e1d5b4c6714,SP,lucelia,delivered,artes,36.85,lucelia,SP,2017-07-06 03:15:36,boleto


**6.** Gerar uma tabela de dados com 70 linhas, contendo o id do pedido, o estado e a cidade do cliente, o status do pedido, o nome da categoria do produto, o preço do produto, a cidade e o estado vendedor, a data de aprovação do pedido, tipo de pagamento, note de avaliação do produto, somente para os pedidos com a avaliação do produto igual a 1.

In [9]:
query = """
       SELECT
        o.order_id, c.customer_state , c.customer_city , o.order_status , p.product_category_name , oi.price , s.seller_city , s.seller_state , o.order_approved_at , op.payment_type , or2.review_score 
    FROM 
        orders o INNER JOIN order_reviews or2 ON (o.order_id = or2.order_id)
                 INNER JOIN order_payments op ON (o.order_id = op.order_id)
                 INNER JOIN customer c        ON (o.customer_id = c.customer_id)
                 INNER JOIN order_items oi    ON (o.order_id = oi.order_id)
                 INNER JOIN products p        ON (oi.product_id = p.product_id)
                 INNER JOIN sellers s         ON (oi.seller_id = s.seller_id)
    WHERE 
        or2.review_score = 1
    LIMIT 70
        """

df_question_6 = pd.read_sql(query, cursor)
df_question_6.to_csv('files/diretorio_setima_rodada_questoes/question_6.csv')

df_question_6

,order_id,customer_state,customer_city,order_status,product_category_name,price,seller_city,seller_state,order_approved_at,payment_type,review_score
0,b18dcdf73be66366873cd26c5724d1dc,SP,sao paulo,delivered,cama_mesa_banho,119.00,belo horizonte,MG,2018-04-09 20:10:35,credit_card,1
1,b18dcdf73be66366873cd26c5724d1dc,SP,sao paulo,delivered,cama_mesa_banho,99.90,piracicaba,SP,2018-04-09 20:10:35,credit_card,1
2,b18dcdf73be66366873cd26c5724d1dc,SP,sao paulo,delivered,cama_mesa_banho,99.90,piracicaba,SP,2018-04-09 20:10:35,credit_card,1
3,b18dcdf73be66366873cd26c5724d1dc,SP,sao paulo,delivered,cama_mesa_banho,99.90,piracicaba,SP,2018-04-09 20:10:35,credit_card,1
4,583174fbe37d3d5f0d6661be3aad1786,SP,guarulhos,canceled,malas_acessorios,89.90,sao paulo,SP,2018-08-05 19:24:33,credit_card,1
...,...,...,...,...,...,...,...,...,...,...,...
65,7920529b8621a433718e66c72a763bdc,MG,divinopolis,delivered,beleza_saude,58.99,santo andre,SP,2017-11-20 22:47:25,credit_card,1
66,04eef545c54d444825c506ba170a26bd,RJ,duque de caxias,delivered,bebes,59.99,piracicaba,SP,2017-04-24 19:45:16,credit_card,1
67,ab25d035abca0cb6c74fff900e926246,SP,piracicaba,canceled,consoles_games,259.91,taboao da serra,SP,2018-04-13 19:09:55,credit_card,1
68,51eaae3287e04efba45a51f52098fc88,SP,mogi das cruzes,delivered,informatica_acessorios,79.90,campinas,SP,2018-04-19 20:35:21,credit_card,1
69,a5a83c95ed669b7ba0ddce1d761c191f,PR,marechal candido rondon,delivered,relogios_presentes,113.00,curitiba,PR,2018-02-22 18:10:31,credit_card,1